$color-primary-grey: #616161;
$color-grey-light: #b0b0b0;
$color-white: #fcfdfe;
$color-black: #000;
$color-blue: #4285f4;
$color-red: #ec5863;

$color-background-grey: #fafbfd;

$bp-lg: 1024px;
$bp-md: 900px;
$bp-sm: 720px;
$bp-extra-sm: 670px;

$header-height-desktop: 114px;
$header-height-mobile: 64px;
